<ion-card-header class="ion-text-center">
    <ion-card-title>4. Service Configurations</ion-card-title>
    <ion-card-subtitle>Specify the services you provide</ion-card-subtitle>
</ion-card-header>
<ion-card-content>
    <ion-list>
        <ion-item *ngFor="let service of selectedServices;let i=index;">
            <ion-label>{{i+1}}. {{service?.service?.name}} <span *ngIf="service.subService!=null"> - {{service?.subService?.name}}</span>
            </ion-label>
            <ion-button (click)="removeService(i)" expand="block" fill="clear" shape="round">
                remove
            </ion-button>
        </ion-item>
    </ion-list>
    <ion-button (click)="openAddNewService()" expand="block" fill="clear" shape="round">
        add service
    </ion-button>

    <ion-button (click)="onBusinessServiceCreateSubmit()" expand="block" [disabled]="selectedServices.length==0">
        Submit
    </ion-button>
</ion-card-content>