<app-header></app-header>
<ion-content color="light">
    <div>
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-col align-self-center>
                    <ion-item-divider>
                        <ion-text>
                            <h3>My business</h3>
                        </ion-text>
                    </ion-item-divider>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle>
                                <ion-button (click)="toggleIsEditing()">{{editButton}}</ion-button>
                            </ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content>
                            <div [hidden]=!isEditing>
                                <form [formGroup]="businessForm" (ngSubmit)="onBusinessSubmit()">
                                    <ion-item>
                                        <ion-label position="floating">Name</ion-label>
                                        <ion-input type="text" formControlName="businessName" required></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Description</ion-label>
                                        <ion-input type="text" formControlName="businessDescription"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Date of Incorporation</ion-label>
                                        <ion-datetime placeholder="Select date" displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" formControlName="businessIncorporationDate">
                                        </ion-datetime>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Office Phone</ion-label>
                                        <ion-input type="text" formControlName="businessOfficePhone"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Gst No</ion-label>
                                        <ion-input type="text" formControlName="gstNo"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Pan No</ion-label>
                                        <ion-input type="text" formControlName="panNo"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Website</ion-label>
                                        <ion-input type="text" formControlName="businessWebsite"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Employee Strength</ion-label>
                                        <ion-input type="text" formControlName="businessEmployeeStrength"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Turnover</ion-label>
                                        <ion-input type="text" formControlName="businessTurnover"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Office Space (in Sq.Ft.)</ion-label>
                                        <ion-input type="text" formControlName="businessOfficeSpace"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Office Type</ion-label>
                                        <ion-input type="text" formControlName="businessOfficeType" required>
                                        </ion-input>
                                    </ion-item>
                                    <ion-button type="submit" [disabled]="!businessForm.valid">Update</ion-button>
                                    <ion-button color="danger" (click)="toggleIsEditing()">Cancel</ion-button>

                                </form>
                            </div>
                            <div [hidden]=isEditing>
                                <ion-row>
                                    <ion-col>
                                        <ion-list>
                                            <ion-item>
                                                <ion-col>Registration Code </ion-col>
                                                <ion-col>: {{businessProfile?.businessCode}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Name </ion-col>
                                                <ion-col>: {{businessProfile?.businessName}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Description </ion-col>
                                                <ion-col>: {{businessProfile?.businessDescription}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Incorporation Date </ion-col>
                                                <ion-col>: {{businessProfile?.businessIncorporationDate}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Office Phone </ion-col>
                                                <ion-col>: {{businessProfile?.businessOfficePhone}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Gst No</ion-col>
                                                <ion-col>: {{businessProfile?.gstNo}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Pan No </ion-col>
                                                <ion-col>: {{businessProfile?.panNo}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Website Details </ion-col>
                                                <ion-col>: {{businessProfile?.businessWebsite}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>No of employees </ion-col>
                                                <ion-col>: {{businessProfile?.businessEmployeeStength}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Turnover</ion-col>
                                                <ion-col>: {{businessProfile?.businessTurnover}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Office Space </ion-col>
                                                <ion-col>: {{businessProfile?.businessOfficeSpace}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Office Type </ion-col>
                                                <ion-col>: {{businessProfile?.businessOfficeType}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Subsciption Details </ion-col>
                                                <ion-col>: {{businessProfile?.businessSubscriptionDate}}</ion-col>
                                            </ion-item>
                                        </ion-list>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>