<app-header></app-header>
<ion-content color="light">
    <div>
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-col align-self-center>
                    <ion-card class="ion-text-center">
                        <ion-card-header>
                            <ion-card-subtitle>Welcome</ion-card-subtitle>
                            <ion-card-subtitle>to</ion-card-subtitle>
                            <ion-card-title>Vendors Dashboard</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>