<ion-header class="ion-hide-sm-up">
    <ion-toolbar>
        <ion-searchbar mode="md" animated></ion-searchbar>
        <!-- <ion-buttons slot="end">
            <ion-button (click)="filterModal()" title="Filter">
                <ion-icon name="filter-outline"></ion-icon>
            </ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>
<ion-content color="light" hide-header>
    <app-category-slider (categoryChangedEventEmitter)="onCategoryChanged($event)"></app-category-slider>
    <div>
        <ion-row>
            <ion-col class="filter-container" size="12" size-lg="2.5" size-md="3">
                <div class="filter shadow">
                    <app-filter [serviceCategory]="selectedCategory" [selectedSubService1]="selectedSubcategory1" (filterChangedEmitter)="onFilterChanged($event)">
                    </app-filter>
                </div>
            </ion-col>
            <ion-col class="main-div-container" size="12" size-lg="9.5" size-md="9">
                <div class="main-div shadow">
                    <ion-row>
                        <ion-col size="12">Invite quotations for {{selectedCategory?.name}}<span *ngIf="selectedSubcategory"> -
                                {{selectedSubcategory?.name}}</span></ion-col>
                    </ion-row>
                    <div class="horizontalLine"></div>
                    <div class="ion-padding center-content" *ngIf="isLoading">
                        <ion-row>
                            <mat-spinner></mat-spinner>
                        </ion-row>
                    </div>
                    <div *ngIf="!isLoading">
                        <ion-row>
                            <ion-col>
                                <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                                    <ion-row *ngIf="showSubservices">
                                        <ion-col size="12">
                                            <ion-item class="ion-no-padding">
                                                <ion-label color="primary" position="floating">Specify your requirement
                                                </ion-label>
                                                <ionic-selectable formControlName="serviceSub" [items]="subServices" itemValueField="id" itemTextField="name" [canSearch]="true">
                                                </ionic-selectable>
                                            </ion-item>
                                            <!-- <ion-label *ngIf="isSubmitted && errorControl.subServices.errors?.required" color="danger" class="ion-padding">
                                                Service is required.</ion-label> -->
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col size="12">
                                            <ion-label *ngIf="vendorsFound && vendorsFound > 0" color="success" class="ion-padding">
                                                {{vendorsFound}} vendors found in your area.
                                            </ion-label>
                                            <ion-label *ngIf="vendorsFound && vendorsFound == 0" color="danger" class="ion-padding">
                                                No vendors found in your area.
                                            </ion-label>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col size="12">
                                            <ion-item class="ion-no-padding">
                                                <ion-label color="primary" position="floating">Describe your requirement
                                                </ion-label>
                                                <ion-textarea rows="6" cols="20" placeholder="" formControlName="jobDecription"></ion-textarea>
                                            </ion-item>
                                            <!-- <ion-label *ngIf="isSubmitted && errorControl.jobDecription.errors?.required" color="danger" class="ion-padding">
                                                Job Description is required.</ion-label> -->
                                        </ion-col>
                                    </ion-row>
                                    <ion-button type="submit" [disabled]="isSubmitDisabled"><span *ngIf="isSubmitDisabled">
                                            <ion-spinner name="crescent"></ion-spinner>
                                        </span>Invite Quotations</ion-button>
                                </form>
                                <!-- <ion-col size="12" size-md="4" size-lg="3" *ngFor="let item of items">
                                <app-vendor-card [item]="item"></app-vendor-card>
                            </ion-col> -->
                            </ion-col>
                        </ion-row>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>