<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{action}} address</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()" title="Close">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid fixed>
        <!-- <p><span *ngIf="isEditingAddress">Update address</span><span *ngIf="isEditingAddress">Create new address</span> -->
        <!-- </p> -->
        <form [formGroup]="dataForm" (ngSubmit)="onAddressSubmit()">
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked" color="primary">Addressline 1 *</ion-label>
                        <ion-input type="text" formControlName="addressline1" placeholder="Addressline 1">
                        </ion-input>
                    </ion-item>
                    <ion-label *ngIf="isSubmitted && errorControl.addressline1.errors?.required" color="danger" class="ion-padding">
                        Addressline 1 is required.</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked" color="primary">Addressline 2</ion-label>
                        <ion-input type="text" formControlName="addressline2" placeholder="Addressline 2">
                        </ion-input>
                    </ion-item>
                    <ion-label *ngIf="isSubmitted && errorControl.addressline2.errors?.required" color="danger" class="ion-padding">
                        Addressline 2 is required.</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked" color="primary">Pincode *</ion-label>
                        <ion-input type="text" formControlName="pin" (ionChange)="pincodeChanged()" placeholder="Pincode"></ion-input>
                    </ion-item>
                    <ion-label *ngIf="isSubmitted && errorControl.pin.errors?.required" color="danger" class="ion-padding">
                        Pincode is required.</ion-label>
                    <ion-label *ngIf="isSubmitted && errorControl.pin.errors?.pattern" color="danger" class="ion-padding">
                        Pincode is invalid.</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked" color="primary">Landmark</ion-label>
                        <ion-input type="text" formControlName="landmark" placeholder="Landmark"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked" color="primary">Municipality *</ion-label>
                        <ion-input type="text" formControlName="street" placeholder="Municipality"></ion-input>
                    </ion-item>
                    <ion-label *ngIf="isSubmitted && errorControl.street.errors?.required" color="danger" class="ion-padding">
                        Street is required.</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked" color="primary">District *</ion-label>
                        <ion-input type="text" formControlName="city" placeholder="District"></ion-input>
                    </ion-item>
                    <ion-label *ngIf="isSubmitted && errorControl.city.errors?.required" color="danger" class="ion-padding">
                        City is required.</ion-label>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked" color="primary">State *</ion-label>
                        <ion-input type="text" formControlName="state" placeholder="State"></ion-input>
                    </ion-item>
                    <ion-label *ngIf="isSubmitted && errorControl.state.errors?.required" color="danger" class="ion-padding">
                        State is required.</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-button type="submit" [disabled]="isSubmitDisabled" expand="block" shape="round"><span *ngIf="isSubmitDisabled">
                            <ion-spinner name="crescent"></ion-spinner>
                        </span>{{action}}
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button expand="block" color="warning" shape="round">
                        Reset
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>