<ion-content color="light">
    <ion-grid fixed>
        <div class="borderWithBackground" style="padding: 1rem;">
            <h3 class="title">
                Customers Terms and Conditions
            </h3>
            <p>Please read these Terms &amp; Conditions carefully before using the http://www.fabyserve.com website or FABYSERVE mobile application/website operated and managed by FABYSERVE INTERNATIONAL PVT LTD </p>
            <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms and conditions. These Terms and conditions apply to all visitors, users and others who access, download, register and use FabyServe
                website/application. By accessing, downloading or using the FabyServe website/application </p>
            <p>you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access website/application. User hereinafter referred to as (“You”) and Faby Serve International Pvt Ltd. hereinafter referred to as (“FSI”).
                FSI is owner and operator of www.fabyserve.com (“the Website”), FSI’s Mobile Application for on demand services (“FSI App”), collectively, including all content provided by FSI through the FSI App and the Website.
            </p>

            <p>FSI is a company which bridge between Service/Products provider and the customer and as a computer/ mobile application software, which will through the internet, display details of service provider, enable customers to select service provider
                of their choice and will similarly enable service provider to accept the request from the customer, act according to quotation provided and as per the appointment scheduled and give service to the customer and become more easily accessible
                to customers through computer /mobile application.</p>
            <p>The Fabyerve is a common platform for customers and service providers that may contain profiles, email facility, chat facility, blogs, job posting, advertisements and other communication channels to communicate with each other or to avail
                the services. Hence, users may use these facilities only to send and receive messages that are relevant and appropriate to the intended use. Violation of this term may force FSI to take appropriate legal action against the user, including
                without limitation civil, criminal and injunctive redress.</p>
            <p>You have right not to supply personally identifiable information. If You intend to view this FSI Service and/or or share your data with the FSI Service, it is solely at your own volition, risk and after reading and confirming it to this Privacy
                Policy.
            </p>
            <p> At the time of using the FSI Service you will share certain Personal Information with FSI, FSI respects your Personal Information. Such Personal Information may include your personal identifiable information such as your name, address, mobile
                number, your e-mail ids, your age, IP address, payment details and any other personal information which You may share in connection with the services.</p>
            <p>
                When you use FSI’s Service through FSI App, FSI may use Your mobile device’s ID (the unique identification assigned to a mobile device by the manufacturer). FSI does this to store your preferences and track your use of FSI App. You understand and agree
                that FSI has every right to share such ID with third parties for its promotions, analysis, etc.
            </p>
            <p>In case You participate in any other schemes, facilities, services provided by the FSI Service, You will be required to provide additional information. Such information will also remain in FSI’s database and will be considered as your Personal
                Information and will be treated as confidential.</p>
            <p>
                FSI needs to caution You that the FSI Service could be vulnerable to hacking, virus attacks and your personal data may be at risk. FSI takes all the necessary and reasonable caution to protect the FSI Service and data.
            </p>


            <p>
                FSI may place a text file called a "cookie" in the browser files of your Mobile. The cookie itself does not contain Personal Information although it will enable the FSI Service to relate your use of the FSI Service to information that you have specifically
                and knowingly provided to FSI. The Cookies enables FSI to remember your choices and some data field contents which you would be required to fill-in.
            </p>
            <p> On the FSI App and/or the Website, FSI might post advertisements provided by Advertisers. These Advertisers might set mobile device id on their Apps. FSI is not responsible for any of these Advertisers. You on your entire risk and volition
                are advised to deal with the Advertisers if You intend to by allowing such advertisements FSI do not recommend or market or warranty the Advertisers, quality, commitment, deliverables, genuineness and Advertisers commitment to protect
                your Personal Information. FSI endeavors to protect your Personal Information.</p>

            <p>FSI may share your Personal Information with its sponsors, service providers and its business partners. Personal Information could be shared so that you may receive newsletters, offers, information about new products, services, launches, facilities,
                schemes and other information, if applicable. The information collected from You and other users may be analysed in different manners. FSI may also share such analysis with its service providers and its business partners.
            </p>
            <p>
                The Services may contain links to other web sites not operated or controlled by FSI (the &quot;Third Party Sites&quot;). The policies and procedures we described here do not apply to the Third Party Sites. The links from the Services do not imply that
                FSI endorses or has reviewed the Third Party Sites. We suggest contacting those sites directly for information on their privacy policies.
            </p>
            <p>
                FSI performs the background verification of service providers to ensure the safety and security of customers. FSI enters into agreement with every service provider during the on- boarding process. This attempt is a sincere effort to ensure the best and
                effective service to our customers. FSI does not take full responsibility suitability, reliability, timeliness, or accuracy of the services provided.
            </p>
            <p>     Customer is solely responsible for maintaining the confidentiality of password and service account provided by FSI for accessing the offered service. Customer is solely and fully responsible for all activities that occur under the password
                or account. FSI has no control and expressly disclaims any liability derived therefrom over the use of any customer’s account. If the customer is suspicious about the activities under the account or breach of account, he/she should immediately
                reach FSI to block the account.  </p>
            <p>
                FSI reserves the right to suspend or terminate your association with us for violation of any of our policies, posted on the website time to time. FSI also reserves the right to take legal action, including without limitation pursuing civil, criminal,
                and injunctive redress, for inappropriate or offensive behavior. Breach or violation of any of the policies will enforce the termination or expiration of the agreement with FSI. The termination of agreement will also enforce the cancellation
                of ongoing requested services, refunds and other disputes by the customer. FSI offers 15 days warranty on service offered via FSI platform (warranty period is varied between services), any additional charges asked by service provider must
                be informed to customer care before making such payments. </p>
            <p>       FSI offers its customer to pay the service provider either mobile wallet, online using net banking/ debit card or other online service provided in the App/Web application. FSI expressly claims no responsibility of refund for payment
                made by cash. Customer is liable to pay the invoiced amount by FSI (For the service only not for the parts) immediately after the work completion.  FSI takes no responsibility for money paid to Service Provider without our knowledge or
                we have no control over payments made in cash to Service Provider other than what is agreed between FSI and customer. Hence it is important that payments to be made directly to FSI via online payment options available on the platform.
                We discourage any tips or reward to any of our Service Provider however if any customer is doing so is completely based on their own will and decision. </p>
            <p> If the money gets deducted from the user account and the payment is not reflected in the application, you are requested to contact the FSI customer care support Your payment will be reflected within 48 hours if the transaction is successful
                at the payment gateway service provider. If your payment status is not updated in the given time frame, please contact the bank for further enquiries, FSI does not take responsibility on such cases and payment will reflect in your bank
                account as per Bank&#39;s TAT. </p>
            <p>    Customer are requested to provide valid, accurate and complete information about your identity, payment account details (Card information, Bank account information, wallet credentials), Biller information and the payment information (payment
                amount and transaction description). FSI reserves the right to terminate user account or refuse your current and future use of service in case your information found suspicious.</p>
            <p>
                FSI assumes no responsibility and shall incur no liability if it is unable to affect any Payment Instruction(s) on the Payment Date owing to any one or more of the following circumstances;
            </p>
            <ul>
                <li>If the Payment Instruction(s) issued by you is/are incomplete, inaccurate, invalid.
                </li>
                <li>If the Payment Account has insufficient funds/limits to cover for the amount as mentioned in the Payment Instruction(s)
                </li>
                <li>If your Bank or the wallet service refuses or delays honoring the Payment Instruction(s)
                </li>
                <li>If payment is not processed by biller upon receipt.
                </li>
                <li>If the user crosses transaction limit/amount limit decided by wallet services, payment gateways and banks.
                </li>
                <li>Circumstances beyond the control of FSI, including natural calamities, issues with payment system, power failures etc.
                </li>
            </ul>
            <p> Note: Customer must ensure seamless internet connectivity and must have all equipment necessary to make such connection to the World Wide Web, including a computer and modem or other access device. Customer is solely responsible any fees associated
                with access to World Wide Web, directly or indirectly access to web content.</p>
            <p>      FSI may contain links to third-party websites or services that are not owned or controlled by FSI. FSI Services has no control over and assumes no responsibility for, the content, privacy policies, or practices of any third party websites
                or services. You further acknowledge and agree that FSI Services shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such
                content, goods or services available on or through any such websites or services. We strongly advise you to read the terms and conditions and privacy policies of any third-party websites or services that you visit.
            </p>
            <p> FSI discourages any direct contact with our FSI Service Provider or any service requested directly by the Customer with the FSI Service Provider, as in such cases has no control or takes no responsibility on whatsoever situation or condition.
                FSI does not provide or deal with material or spare parts required for delivering the service. Customers are requested to buy the material their own to carry out the service. Service provider is solely responsible/ liable for damages caused
                during service delivery, in such events customer is requested to first contact the customer support team and then may lodge a complaint against the service provider, if the damage is resolved with mutual understanding.
            </p>
            <p>
                Customer is requested to report/inform FSI immediately for any misconduct or unsatisfied behavior of any of our service provider so that we can take necessary action in order to resolve incidents and prevent the occurrence of such incidence in future.
                However, if the misconduct is falling in the category of breach of law then the customer may deal with that as per the applicable laws directly with the service provider and FSI will not be responsible in such case. Also, if the service
                provider involves in any criminal activities during the service delivery or at any stage of service cycle the customer, at its own will can take direct action under the laws of the country and also keep us informed on full details of the
                same. FSI will not be party to any such action.</p>
            <p> FSI acts as the technology platform to customers to avail the services from a specific service provider and therefore not responsible for any damage or negligence caused during service delivery. As a technology infrastructure provider, FSI
                connects the customer with the service provider and offer convenience for online payment facility, on the other side payment assurance to service providers. It’s strictly customer’s preference to avail the services from a specific service
                provider.  If the service provider is involved in any criminal activity, exhibits any offending behavior, misconduct or medical negligence at any stage of service cycle, customer can take legal action against service provider under applicable
                Indian Law, FSI will not party to any such action.</p>
            <p> Repair Charges /Visit Charges - is the compulsory charges on the technician visit to customer premises - needs to be paid by the customer on first visit itself</p>
            <ul>
                <li>Post technician visit - if any spare needs to be changed or replaced would be extra as per current market rates which need to be procured by the customer.</li>
                <li>If any additional work as to be done beyond the scope of the quotation the service provider and customer should come into a consent and need to update in FSI ap/Web portal and mutually agreed before the service is done.</li>
                <li>Service Warranty - warranty for the workmanship is 15 days from the date of work completion (Receipt/ Job card to be produced by the customer to avail service warranty). o Customer can avail service warranty only for the issue as mentioned
                    in the quote, for any other issues or complaints the charges are applicable which will be mutually agreed with service provider and customer</li>
                <li>The company shall be under no obligation to provide repair/service because of improper use, unauthorized alteration, modification or substitution of any part or Sr. No. of the machine is altered, defaced or removed, abnormal voltage fluctuation,
                    rat bite, and neglect, acts of God like floods, lightening, earthquakes etc. or causes other than ordinary use. If our services are required as a result of the causes stated above, such services shall be at extra charge.
                </li>
                <li>While every effort shall be made to give preferential attention to emergency breakdown of the equipment, the company shall not be held responsible for any loss arising</li>
                <li>The equipment brought to the service center by the service provider will remain there at customer risk and the company will not be responsible for any damages caused due to the factors beyond its control
                </li>
                <li>Most of the repairs would be carried out at the customer premises only if need arises then the appliance would be called back to the Service center and Transportation for taking appliance to the Service Center for repairs shall be borne
                    by the customer as per mutually agreed terms with customer and service provider.</li>
                <li>Any estimate issued by the service provider is provisional and not binding; in case of variances in market price.
                </li>
            </ul>
            <h2>Cancellation and Refund Policy</h2>
            <p>
                At FSI we have full confidence in our varied range of services, and e-business solutions. We are committed to providing our esteemed clients fast, reliable and exceptional service guarantee every time for doing business with you. All the services available
                at FSI website are carried out for the clients after extensive verification. It ensures full understanding of the work and almost no possibilities of any service cancellation, reversal or dispute. However, any refund and service cancellation
                is taken place abiding a set of conditions.
            </p>
            <h3> Cancellation Policy</h3>
            <ul>
                <li> A customer can cancel order for a particular service within 2 Hrs after service is requested .
                </li>
                <li> No cancellation is possible for the services offered with promotional discounts on special occasions. These are limited edition offers and hence any range of refund would not be possible.
                </li>
                <li> Fee once paid will not be refunded in no case if the cancellation is done within 30 minutes prior the scheduled service time. </li>
                <li> Advance payment will be refunded if the cancellation happens with the mutual consent of the vendor.
                </li>
                <li> The Vendor Reserve the right to reschedule or cancel the order due to any unforeseen reasons, which will be communicated to customers by the vendor timely. </li>
                <li> A service stands canceled if advance payment is not received along with the order. </li>
                <li>
                    Customer will be charged service fee if the cancellation is done on the time of arrival of the service person.
                </li>
            </ul>
            <h3>Refund Policy </h3>
            <ul>
                <li> Every service offered by us takes different course of action to get accomplished from start to end thus refund policy differs from one service to other. </li>
                <li> There is always a certain set of resources that are involved in every service we offer. Thus, a refund would not be entertained for the work already completed. </li>
                <li> No refund is possible for the fee paid in the form of administrative fees or installation charges.
                </li>
                <li> Taxes paid on services levied by regulatory bodies would not be refunded with refund. </li>
                <li> No refund will be entertained in case service gets canceled due to any violation of terms stated in our Terms &amp; Condition. </li>
                <li> There is no refund policy for the services placed on emergency. </li>
                <li> FSI is not liable to pay refund if delay or service disruption happens due to third party involvement. </li>
                <li> Customer can send a mail to cs@fabyserve.com with proper reference of the job ID within 3 days of job done. Once the refund complaint is received Fabyserve will raise the complaint ticket and will which will be shared via mail and the
                    claim will be settled within in 10 working days ,if the refund/complaint request is approved by the Fabyserve complaint team . The Fabyserve complaint team has the full right to reject or accept the refund complaint and the reason
                    for rejection and acceptance will be shared via mail to the customer. </li>
            </ul>
            <p> We request our valued clients to read the above mentioned cancellation and refund policies to avoid any inconvenience during cancellation or refund.
            </p>
            <p> These Terms shall be governed and construed in accordance with the laws of Country without regard to its conflict of law provisions. Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights.
                If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede
                and replace any prior agreements we might have between us regarding the Service. </p>
            <p> FSI reserves the right to manage, resolve or decline the disputes with customer. Any disputes raised by customer will be processed by the FSI team and notify the customer on acceptance of dispute, via mail along with complaint number.  FSI
                team will enquire the complaint and based on the findings customer will be receiving the response from FSI team within 7 working days from the day of complaint. If the customer is not satisfied with the resolution, the parties agree to
                resolve the matter amicably vide arbitration under the Indian Arbitration &amp; Conciliation Act, 1996. The venue of the arbitration shall be Cochin, India. The language of the arbitration shall be English.
            </p>
            <p>       FSI have and continue to have the right to modify, change or update Policy/Terms and conditions at any time. However, FSI will use your Personal Information in a manner consistent with Privacy Policy at the time you shared Personal
                Information. You are encouraged to check the FSI Service often to get updated about Policy/Terms&amp; Conditions. You acknowledge that by virtue of usage of the FSI Service you provide acceptance of the Policy/Terms &amp; Conditions. All
                questions to be addressed to cs@fabyserve.com.
            </p>
            <p> If you have any questions about this Policy/Terms &amp; Conditions, the practices of this site, or your dealings with this site, please contact us at:
            </p>
            <p>
                <b>Faby Serve International Pvt Ltd, Building no 41,2053,1st floor, Vennala, Eranakulam</b>
            </p>
        </div>
    </ion-grid>
    <ion-row>
        <ion-col size="12" class="ion-no-padding">
            <app-footer></app-footer>
        </ion-col>
    </ion-row>
</ion-content>