<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <ion-card color="new">
                    <ion-card-header>
                        <ion-card-title class="ion-text-center">404</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col>
                                <h2>Page not found</h2>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>