<ion-card-content class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
        <p>Describe your business</p>
    </ion-row>
    <form [formGroup]="businessForm" (ngSubmit)="onBusinessSubmit()" novalidate>
        <ion-item class="ion-no-padding">
            <ion-label position="floating">Name of business *</ion-label>
            <ion-input type="text" formControlName="businessName" required></ion-input>
        </ion-item>
        <ion-label *ngIf="isSubmitted && errorControl.businessName.errors?.required" color="danger" class="ion-padding">
            Business name is required.</ion-label>
        <ion-item class="ion-no-padding">
            <ion-label position="floating">Business type *</ion-label>
            <ion-select formControlName="businessOfficeType" interface="popover" placeholder="Select business type" (ionChange)="officeTypeChanged()">
                <ion-select-option *ngFor="let officeType of officeTypeOptions" value="{{officeType}}">{{officeType}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-label *ngIf="isSubmitted && errorControl.businessOfficeType.errors?.required" color="danger" class="ion-padding">
            Business type is required.</ion-label>
        <div *ngIf="showBusinessExtra">
            <ion-item lines="none" class="ion-no-padding">
                <ion-label position="floating">Date of Incorporation</ion-label>
                <mat-form-field style="padding-bottom: 0px;">
                    <input matInput [matDatepicker]="businessIncorporationDateDatePicker" formControlName="businessIncorporationDate" (click)="businessIncorporationDateDatePicker.open()" readonly>
                    <mat-datepicker-toggle matSuffix [for]="businessIncorporationDateDatePicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #businessIncorporationDateDatePicker></mat-datepicker>
                </mat-form-field>
                <!-- <ion-datetime placeholder="Select date" displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" formControlName="businessIncorporationDate">
                </ion-datetime> -->
            </ion-item>
            <ion-row>
                <ion-col size="12" size-lg="6">
                    <ion-item class="ion-no-padding">
                        <ion-label position="floating">GST No</ion-label>
                        <ion-input type="text" formControlName="gstNo"></ion-input>
                    </ion-item>
                    <ion-label *ngIf="isSubmitted && errorControl.gstNo.errors?.pattern" color="danger" class="ion-padding">
                        GST No is invalid.</ion-label>
                </ion-col>
                <ion-col size="12" size-lg="6">
                    <ion-item class="ion-no-padding">
                        <ion-label position="floating">Pan No</ion-label>
                        <ion-input type="text" formControlName="panNo"></ion-input>
                    </ion-item>
                    <ion-label *ngIf="isSubmitted && errorControl.panNo.errors?.pattern" color="danger" class="ion-padding">
                        PAN No is invalid.</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" size-lg="6">
                    <ion-item class="ion-no-padding">
                        <ion-label position="floating">Office Space (in Sq.Ft.)</ion-label>
                        <ion-input type="text" formControlName="businessOfficeSpace"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </div>
        <ion-item class="ion-no-padding">
            <ion-label position="floating">Website (Optional)</ion-label>
            <ion-input type="text" formControlName="businessWebsite"></ion-input>
        </ion-item>
        <ion-row>
            <ion-col size="12" size-lg="6">
                <ion-item class="ion-no-padding">
                    <ion-label position="floating">Employee Strength</ion-label>
                    <ion-input type="text" formControlName="businessEmployeeStrength">
                    </ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12" size-lg="6">
                <ion-item class="ion-no-padding">
                    <ion-label position="floating">Turnover</ion-label>
                    <ion-input type="text" formControlName="businessTurnover"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-item class="ion-no-padding">
            <ion-label position="floating">Description</ion-label>
            <ion-input type="text" formControlName="businessDescription"></ion-input>
        </ion-item>
        <hr>
        <ion-row class="ion-justify-content-center">
            <ion-button type="submit" shape="round" [disabled]="isSubmitDisabled"><span *ngIf="isSubmitDisabled">
                    <ion-spinner name="crescent"></ion-spinner>
                </span> Proceed</ion-button>
        </ion-row>
    </form>
</ion-card-content>