<ion-content color="light">
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12" size-md="6">
                <ion-card>
                    <ion-card-header class="ion-text-center">
                        <ion-card-title>Vendor</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="6">
                                <a href="http://vendor-dev.fabyserve.com/#/auth/login" target="_blank">
                                    <ion-button color="tertiary" expand="block">
                                        Login
                                    </ion-button>
                                </a>
                            </ion-col>
                            <ion-col size="6">
                                <a href="http://vendor-dev.fabyserve.com/#/auth/sign-up" target="_blank">
                                    <ion-button color="warning" expand="block">
                                        Register
                                    </ion-button>
                                </a>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-md="6">
                <img src="assets/img/common/hero-img.png" width="300" height="250" alt="">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Onboarding process</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div>
                            <h5 class="subtitle">1.Registration</h5>
                            <p>Online registration by the vendor.</p>
                            <h5 class="subtitle">2.Payment</h5>
                            <p>Payment the App/Web portal only.</p>
                            <h5 class="subtitle">3.Verification</h5>
                            <p>Scrutinizing the documents &amp; Verification by the FABY SERVE verification Staff.</p>
                            <h5 class="subtitle">4. Approval</h5>
                            <p>Approval by the FABY SERVE as Vendor.</p>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-card>
                    <ion-card-header class="ion-text-center">
                        <ion-card-title>Testimonials</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-card>
                    <ion-card-header class="ion-text-center">
                        <ion-card-title>FAQ's</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-row>
        <ion-col size="12" class="ion-no-padding">
            <app-footer></app-footer>
        </ion-col>
    </ion-row>
</ion-content>