<app-header></app-header>
<ion-content color="light">
    <div>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-text color="dark">
                        <h2>Profile</h2>
                    </ion-text>
                    <ion-card>
                        <ion-card-content>
                            <ion-row class="ion-justify-content-end">
                                <ion-button (click)="toggleIsEditing()" float-right>{{editButton}}</ion-button>
                            </ion-row>
                            <div [hidden]=!isEditing>
                                <form [formGroup]="profileForm" (ngSubmit)="onProfileSubmit()">
                                    <ion-item>
                                        <ion-label position="floating">Name</ion-label>
                                        <ion-input type="text" formControlName="userName" required></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Date of birth</ion-label>
                                        <ion-datetime placeholder="Select date" displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" formControlName="userDob">
                                        </ion-datetime>

                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Gender</ion-label>
                                        <ion-select placeholder="Select One" formControlName="userGender">
                                            <ion-select-option value="Female">Female</ion-select-option>
                                            <ion-select-option value="Male">Male</ion-select-option>
                                        </ion-select>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Primary email</ion-label>
                                        <ion-input type="text" formControlName="userPrimaryEmail" required></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Alternate email</ion-label>
                                        <ion-input type="text" formControlName="userAlternateEmail"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Primary phone</ion-label>
                                        <ion-input type="text" formControlName="userPrimaryPhone" required></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Alternate phone</ion-label>
                                        <ion-input type="text" formControlName="userAlternatePhone"></ion-input>
                                    </ion-item>

                                    <ion-button type="submit" [disabled]="!profileForm.valid">Submit</ion-button>
                                </form>
                            </div>
                            <div [hidden]=isEditing>
                                <ion-row>
                                    <ion-col>
                                        <ion-list>
                                            <ion-item>
                                                <ion-col>User Code </ion-col>
                                                <ion-col>: {{userProfile?.userCode}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Name </ion-col>
                                                <ion-col>: {{userProfile?.userName}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Date of birth </ion-col>
                                                <ion-col>: {{userProfile?.userDob}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Gender </ion-col>
                                                <ion-col>: {{userProfile?.userGender}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Primary email </ion-col>
                                                <ion-col>: {{userProfile?.userPrimaryEmail}} {{userProfile?.userIsPrimaryEmailVerified}}
                                                </ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Alternate email </ion-col>
                                                <ion-col>: {{userProfile?.userAlternateEmail}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Primary Phone</ion-col>
                                                <ion-col>: {{userProfile?.userPrimaryPhone}} {{userProfile?.userIsPrimaryPhoneVerified}}
                                                </ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Alternate Phone </ion-col>
                                                <ion-col>: {{userProfile?.userAlternatePhone}}</ion-col>
                                            </ion-item>
                                            <ion-item>
                                                <ion-col>Username </ion-col>
                                                <ion-col>: {{userProfile?.userUsername}}</ion-col>
                                            </ion-item>
                                        </ion-list>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-text color="dark">
                        <h2>Address</h2>
                    </ion-text>
                    <ion-row>
                        <ion-col size-md="4">
                            <ion-card>
                                <ion-card-header>
                                    <ion-card-subtitle>
                                        New Address
                                    </ion-card-subtitle>
                                </ion-card-header>
                                <ion-card-content>
                                    <form [formGroup]="addressForm" (ngSubmit)="onAddressSubmit()">
                                        <ion-item>
                                            <ion-label position="floating">Addressline 1</ion-label>
                                            <ion-input type="text" formControlName="addressline1" required>
                                            </ion-input>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label position="floating">Addressline 2</ion-label>
                                            <ion-input type="text" formControlName="addressline2">
                                            </ion-input>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label position="floating">Landmark</ion-label>
                                            <ion-input type="text" formControlName="landmark"></ion-input>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label position="floating">Street</ion-label>
                                            <ion-input type="text" formControlName="street" required></ion-input>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label position="floating">City</ion-label>
                                            <ion-input type="text" formControlName="city" required></ion-input>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label position="floating">State</ion-label>
                                            <ion-input type="text" formControlName="state" required></ion-input>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label position="floating">Pincode</ion-label>
                                            <ion-input type="text" formControlName="pin" required></ion-input>
                                        </ion-item>
                                        <hr>
                                        <ion-button type="submit" [disabled]="!addressForm.valid">
                                            {{editAddressButton}}
                                        </ion-button>
                                        <ion-button type="reset" color="warning">Reset
                                        </ion-button>
                                    </form>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                        <ion-col size-md="4" *ngFor="let address of addresses; let i = index">
                            <ion-card>
                                <ion-card-content>
                                    {{address?.addressline1}}<br>{{address?.addressline2}}<br>{{address?.landmark}}<br> {{address?.street}}
                                    <br> {{address?.city}}<br> {{address?.state}}<br>{{address?.pin}}
                                    <ion-row>
                                        <ion-col>
                                            <ion-button (click)="updateEditAddress(address)">Edit</ion-button>
                                            <ion-button (click)="deleteAddress(address)" *ngIf="address.isPrimary!='2'" color="danger">
                                                Delete</ion-button>
                                            <ion-button (click)="markAddressAsPrimary(address)" *ngIf="address.isPrimary!='2'" color="success">
                                                Set As Primary</ion-button>
                                        </ion-col>
                                    </ion-row>
                                </ion-card-content>

                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>