<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Terms and Conditions</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()" title="Close">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-grid fixed>
        <p>FABY SERVE Customer Agreement</p>
        <ion-item *ngFor="let item of termsAndConditions;let i=index;" lines="none">
            <p>{{i+1}}. {{item}}</p>
        </ion-item>
        <ion-row>
            <ion-col size="12">
                <ion-button (click)="dismiss(true)" expand="block" fill="clear" shape="round">
                    Close
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>