<ion-content color="light">
    <ion-grid fixed>
        <div class="borderWithBackground" style="padding: 1rem;">
            <h3 class="title">
                PRIVACY POLICY
            </h3>

            <p>
                FabyServe privacy policy is to serve customers having concerned how their &#39;Personally Identifiable Information&#39; (PII) is being used . PII is information that can be used on its own or with other information to identify, contact, or locate a single
                person, or to identify an individual in context. Please read the privacy policy carefully and a clear understand on how it is collected, used, protected. </p>
            <p>
                Privacy policy may change at any time without prior notification. To make sure that you are aware of any changes, kindly review the policy periodically.
            </p>
            <p>
                When ordering or registering on our site/application, you may be asked to enter your name, email address, communication address, mobile number, Family members&#39; Contact Numbers or other details to help you with a good service experience.
            </p>
            <p>
                We collect information from you when you register on our site/application or request for a service or product on our website or App.
            </p>
            <p>
                We may use the information collected while registering, while making a request, while signing up for our newsletter, respond to any survey or marketing communication, or use certain other site features in the below mentioned ways:
            </p>
            <p>
                <ol>
                    <li>Personalize user experience and to allow us to provide best quality service
                    </li>
                    <li>Enhance the services you requested.
                    </li>
                    <li>Administer a promotion, survey, contest or other platform features.
                    </li>
                    <li>Process your transactions fast.
                    </li>
                </ol>
                <p> Your personal information is contained in secured networks and is only accessed by certain number of persons who have special permission and rights to systems and are required to keep the information confidential. In addition, all sensitive/credit/payment
                    information you supply is encrypted via Secure Socket Layer (SSL) technology.
                </p>
                <p>
                    All payment transactions are processed through a payment gateway provider and are not stored or processed on our servers.
                </p>
                <p>
                    Cookies are small files that a site or its service provider transfers to your computer&#39;s hard drive through your Web browser (if you allow) that enables the site&#39;s or service provider&#39;s systems to recognize your browser and capture and remember
                    certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables
                    us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.
                </p>
                <p>
                    You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (such as Internet Explorer or Chrome) settings. Each browser is a little different, so look at
                    your browser&#39;s Help menu to learn the correct way to modify your cookies.
                </p>
                <p>
                    If you disable cookies, some features may be disabled. It won&#39;t affect the user experience however may disable some actions that makes your site experience more efficient and some of our services may not function optimally. However, you will still
                    be able to place service requests.
                </p>
                <p>
                    We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.
                </p>
                <p>
                    In order to be in line with Fair Information Practices we will take the following responsive action:
                </p>
                <p>
                    We will notify the users via email/phone: Within a Working day
                </p>
                <p>
                    We also agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only those individuals
                    have enforceable rights against data users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute noncompliance by data processors
                </p>
                <p>
                    In case FSI is required to disclose your Personal Information in order to assist the Government Authority or in adherence to the Court or to protect the interest of the FSI Service and/or any particular user(s), FSI will disclose it without obtaining
                    prior permission from you.
                </p>
        </div>
    </ion-grid>
    <ion-row>
        <ion-col size="12" class="ion-no-padding">
            <app-footer></app-footer>
        </ion-col>
    </ion-row>
</ion-content>