<ion-header>
    <ion-toolbar color="primary" mode="md">
        <ion-title slot="start">FABYSERVE</ion-title>
        <div slot="start" class="ion-hide-sm-down" style="width: 100%;">
            <ion-row>
                <ion-col size="6">
                    <ion-searchbar placeholder="search" animated></ion-searchbar>

                </ion-col>
            </ion-row>
        </div>
        <ion-buttons slot="end">
            <app-address></app-address>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="signOut()" title="Sign out">
                <ion-icon name="person"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>