<ion-content>
    <div>
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <ion-card>
                        <ion-card-header class="ion-text-center">
                            <ion-card-title>Sign up</ion-card-title>
                            <p>Let’s set up your account</p>
                        </ion-card-header>
                        <ion-card-content>
                            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                                <ion-item lines="full">
                                    <ion-label position="floating" color="primary">Name *</ion-label>
                                    <ion-input type="text" formControlName="userName">
                                    </ion-input>
                                </ion-item>
                                <ion-item lines="full">
                                    <ion-label position="floating" color="primary">Email *</ion-label>
                                    <ion-input type="text" formControlName="userUsername">
                                    </ion-input>
                                </ion-item>
                                <ion-item lines="full">
                                    <ion-label position="floating" color="primary">Mobile *</ion-label>
                                    <ion-input type="text" formControlName="userPrimaryPhone">
                                    </ion-input>
                                </ion-item>
                                <ion-item lines="full">
                                    <ion-label position="floating" color="primary">Password *</ion-label>
                                    <ion-input type="password" formControlName="userPassword">
                                    </ion-input>
                                </ion-item>
                                <br>
                                <p>
                                    <b>Note:</b> OTP will be send to the email provided.
                                </p>
                                <ion-row>
                                    <ion-col>
                                        <ion-button type="submit" color="danger" expand="block" [disabled]="!signupForm.valid">Proceed
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </form>
                            <ion-row>
                                <ion-col>
                                    <a [routerLink]="['/auth/login']">Sign in instead</a>
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>