.mat-stepper-vertical {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

.bg {
    background-color: var(--ion-color-primary);
}

.verticalLine {
    width: auto;
    height: 1px;
    background: rgb(255, 255, 255);
    margin-top: 0;
    position: relative;
}

ion-list {
    --ion-background-color: transparent !important;
    --ion-border-color: transparent !important;
}

ion-card-header {
    padding: 10px 10px 6px;
}

ion-card-header>h2 {
    margin: 0 0 4px;
}