.mat-stepper-vertical {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

.bg {
    background-color: #F96302;
}

.verticalLine {
    width: auto;
    height: 1px;
    background: rgb(255, 255, 255);
    margin-top: 0;
    position: relative;
}

ion-list {
    --ion-background-color: transparent !important;
    --ion-border-color: transparent !important;
}