<ion-content color="light">
    <div>
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div *ngIf="!resetCodeSent">
                        <ion-card>
                            <ion-card-header class="ion-text-center">
                                <ion-card-title>Reset your password</ion-card-title>
                                <ion-card-subtitle> Enter your user account's verified email address and we will send you a password reset code.</ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content>
                                <form [formGroup]="forogotPasswordForm" (ngSubmit)="onSubmit()">
                                    <ion-item lines="full">
                                        <ion-label position="stacked" color="primary">Email</ion-label>
                                        <ion-input type="text" formControlName="userUsername" placeholder="Enter your email address">
                                        </ion-input>
                                    </ion-item>
                                    <br>
                                    <ion-row>
                                        <ion-col>
                                            <ion-button type="submit" color="danger" expand="block" [disabled]="!forogotPasswordForm.valid">
                                                <app-button-loading [isLoading]="isLoading" [label]="'Reset Password'"></app-button-loading>
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                </form>
                                <ion-row>
                                    <ion-col>
                                        Already member? <a [routerLink]="['/auth/login']">Signin</a>
                                    </ion-col>
                                    <ion-col>
                                        <ion-row class="ion-justify-content-end">
                                            New user? <a [routerLink]="['/auth/sign-up']" float-right> Sign Up</a>
                                        </ion-row>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </div>
                    <div *ngIf="resetCodeSent">
                        <ion-card>
                            <ion-card-header class="ion-text-center">
                                <ion-card-title>Reset Password</ion-card-title>
                                <ion-card-subtitle> welcome to vendor dashboard</ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content>
                                <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetSubmit()">
                                    <ion-item>
                                        <ion-label position="floating" color="primary">Verification Code *</ion-label>
                                        <ion-input type="text" formControlName="verificationCode"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating" color="primary">New password *</ion-label>
                                        <ion-input [type]="passwordType" clearOnEdit="false" formControlName="userPassword">
                                        </ion-input>
                                    </ion-item>
                                    <ion-item lines="none">
                                        <ion-checkbox color="primary" (click)='hideShowPassword()' mode="md">
                                        </ion-checkbox>&nbsp;
                                        <ion-label color="primary">Show password</ion-label>
                                    </ion-item>
                                    <hr>
                                    <ion-row class="ion-justify-content-center">
                                        <ion-button type="submit" [disabled]="!resetPasswordForm.valid" shape="round">
                                            Reset Password</ion-button>
                                    </ion-row>
                                    <ion-row class="ion-justify-content-center">
                                        <!-- <ion-button (click)="changeEmail()">Change email</ion-button> -->
                                        <ion-button fill="clear">Didn't recieve the OTP? Click to Resend.
                                        </ion-button>
                                    </ion-row>
                                </form>
                                <ion-row>
                                    <ion-col>
                                        <a [routerLink]="['/auth/login']">Already member? Signin</a>
                                    </ion-col>
                                    <ion-col>
                                        <ion-row class="ion-justify-content-end">
                                            <a [routerLink]="['/auth/sign-up']" float-right>Create account</a>
                                        </ion-row>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>