<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Your addresses</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()" title="Close">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid fixed>
        <ion-col size-md="4" size-sm="6" *ngFor="let address of addresses; let i = index">
            <ion-card>
                <ion-card-content>
                    <ion-row>
                        <ion-col size="12" class="ion-text-right">
                            <span>
                                <a tappable (click)="modifyAddress(address)">Edit</a>
                            </span>
                            <span *ngIf="address.isPrimary!='2'">
                                &nbsp;|&nbsp;<a tappable (click)="deleteAddress(address)">Delete</a>
                            </span>
                            <span *ngIf="address.isPrimary!='2'">
                                &nbsp;|&nbsp;<a tappable (click)="markAddressAsPrimary(address)">Set as
                                    default</a>
                            </span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <p>
                                <b>{{i+1}}.</b> {{address?.addressline1}}
                                <br>{{address?.addressline2}}<br> {{address?.street}}
                                <br> {{address?.city}}<br> {{address?.state}}<br>{{address?.pin}}
                            </p>
                            <p *ngIf="address?.landmark">
                                <b>Landmark: </b>{{address?.landmark}}
                            </p>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-grid>
</ion-content>
<ion-row>
    <ion-col>
        <ion-button color="success" (click)="modifyAddress()" expand="block">
            Add address
        </ion-button>
    </ion-col>
    <ion-col>
        <ion-button color="danger" (click)="dismiss()" expand="block">
            Close
        </ion-button>
    </ion-col>
</ion-row>